header{
    display: flex;
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
    font-size: 28px;
    height:60px;
    color:#707070;
}
body{
    background-color:#f0f0f0;
    font-size:18px;
    font-family: monospace;
}
header a{
    text-decoration: none;
    color: #ff5733;
    font-weight: bold;
}
header input{
    width:200px;
    padding:5px;
    font-size:15px;
    margin-top:25px;
}
.bold{
    font-weight: bold;
}
.header-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-log_button p{
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
}
.page-content{
    max-width:70%;
    margin: auto;
    margin-top:100px;
}
form label, form input, form select{
margin-bottom:20px;
}
.company_title{
    font-size: 25px;
}
.product-description{
    margin-left:30px;
}
a.company_title{
    text-decoration: none;
    color:#ff5733;
}
.product_title{
    font-size:22px;
}
.page-block{
    background-color: white;
    border-radius: 30px;
    padding:30px;
}
.page-block h1{
    margin-top:0px;
}
a{
    text-decoration: none;
    color:white;
}
.page-block a{
    color: #ff5733;
    font-weight:bold;
}
.button{
    margin-top:30px;
    margin-bottom:30px;
    width:225px;
    text-align: center;
    background-color: #ff5733;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 35px;
    padding:15px;
}
button.button{
    border: 0px;
    font-weight: bold;
    font-size: 18px;
}
.button_secondary{
    font-size:15px;
    width:175px;
    background-color:#707070;
}
#filter_label{
    color:#ff5733;
}
.filter{
    display: none;
}
.filter input, .filter select{
    width:200px;
    padding: 5px;
    font-size: 15px;
    margin-top:10px;
}