{% extends "base.html" %}

{% block content %}
 <h1>Последние компании, зарегистрированные в нашей системе:</h1>
    {% for company in companies %}
        <p><a href="{% url 'company_page' company.id %}" class="bold company_title">{{ company.name }}</a><br>{{ company.description }}</p>
    {% endfor %}
    <a href={% url 'companies_page' %}>Все компании</a>
    <hr>
    <h1>Последние услуги, зарегистрированные компаниями</h1>
    {% for product in products %}
        <p><a href="{% url 'company_page' product.company_id.id %}" class="bold company_title">{{ product.company_id.name }}</a><br>
            <snap class="product_title">{{ product.name }}</snap> <br>
            Период действия услуги: {{ product.period }} г.<br>
            Процентная ставка: {{ product.percentage }}%<br>
        Категория: {{ product.category_id.name }} <br></p>
        {% if not request.user.is_authenticated %}
            <a href={% url 'add_order' product.id %}>Откликнуться</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user.id == company.user_id %}
            <a href={% url 'edit_product' product.id %}>Редактировать</a>
        {% endif %}
    {% endfor %}
    <a href="#">Все услуги компаний</a>
{% endblock %}