{% extends "base.html" %}

{% block title %}Добавить новую компанию{% endblock %}

{% block content %}
    <h1>Компании, зарегистрированные вами:</h1>
    {% for company in companies %}
        <p><snap class="bold company_title">{{ company.name }}</snap> <br> {{ company.description }}</p>
        Список услуг компании: <br>
        {% for product in products %}
            {% if product.company_id == company %}
                <p class="product-description"><snap class="bold company_title">{{ product.name }} </snap><br>
                    Период действия услуги: {{ product.period }} г.<br>
                    Процентная ставка: {{ product.percentage }}%<br>
                    Категория: {{ product.category_id.name }} <br>
                <a href={% url 'edit_product' product.id %}>Редактировать</a></p>
            {% endif %}
        {% endfor %}
        <a href="{% url 'add_product' company.id %}">Добавить новую услугу компании</a>
    {% endfor %}
    <hr>
    <a href="{% url 'add_company' %}">Зарегистрировать новую компанию</a>
{% endblock %}