{% extends "base.html" %}

{% block title %}Добавить новую компанию{% endblock %}

{% block content %}
    <div class="page-block">
    <h1>Компании, зарегистрированные вами:</h1>
    {% for company in companies %}
        <p><snap class="bold company_title title_head">{{ company.name }}</snap> <br> {{ company.description }}</p>
        <div >Список услуг компании: </div> <br>
        <div class="product-description">
        {% for product in products %}
            {% if product.company_id == company %}
                <p><snap class="bold company_title">{{ product.name }} </snap><br>
                    Период действия услуги: {{ product.period }} г.<br>
                    Процентная ставка: {{ product.percentage }}%<br>
                    Категория: {{ product.category_id.name }} <br>
                    <a href={% url 'edit_product' product.id %}><div class="button button_secondary">Редактировать</div></a></p>
            {% endif %}
        {% endfor %}
        </div>
        <a href="{% url 'add_product' company.id %}"><div class="button">Добавить новую услугу компании</div></a>
    {% endfor %}
    <hr>
        <a href="{% url 'add_company' %}"><div class="button">Зарегистрировать новую компанию</div></a>
    </div>
{% endblock %}
